:root {
	--btn-pressed: #47008e;
	--btn-static: #5900b2;
	--btn-hover: #7800c1;
	--bg-gray: #f3f3f5;
	--bg-pink: #a662ea;
	--btn2-pressed: #ccace8;
	--btn2-hover: #eee3f8;
	--bg-white: #FFFFFF;
	--bg-navbar: #5900b2;
	--font-gray: #c5becc;
	--border-radius: 10px;
}



* { 
	box-sizing: border-box;
	font-family: 'SF Pro Display';
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: black;
}


header {
	background: var(--btn-static);
}


header nav {
	margin-left: auto;
	line-height: 60px;
	display: inline-block;

}

.nav-link a {
	color: transparent;
	width: 25vh;
	height: 25px;
	margin: 20px 20px 20px auto;
	border-bottom-right-radius:  30px;
	border-bottom-left-radius:  30px;
	border-top-left-radius:  30px;
	border-top-right-radius: 30px;
}


#logo {
	color:var(--bg-white);
	font-size: 2em;


}

div .nav-link {
	display: flex;
	justify-content: center;
}

div.nav-link a {
	margin-left: 10%;
	margin-right: auto;
	background: var(--btn-pressed);
}

div.nav-link a:hover {
	margin-left: 10%;
	margin-right: auto;
	background: var(--btn-hover);
}


div .profile {
	position: relative;


}


div #ava {
	position: absolute;
	top: 12px;
	bottom: 10px;
	margin-left: auto;
	margin-bottom: 0;
	width: 32px;
	height: 32px;
}

div #name {
	margin-left: 2px;
	color:var(--bg-white);
	background: var(--btn-hover);
	padding: 13px 20px 13px 30px;
	border-bottom-right-radius:  20px;
	border-bottom-left-radius:  20px;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}


div #btn {
	position: absolute;
	top: 25px;
	bottom: 25px;
	left: 90px;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

body {
	height: 100%;
	display: flex; 
	flex-direction: column;
	margin: 0; 
	background: var(--bg-gray);
}


main {
	margin-bottom: 30px;
	margin-top: 50px;
	height: 100%;
	display:flex;
	flex-direction: row;
}

section {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
	background: var(--bg-white);
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

.right-section {
	border-left: 20px solid #f3f3f5;
	height: 100%;

}

.right-section a {
	color: var(--font-gray);
	padding: 20px 30px 20px 10px;
	border-left: 5px solid transparent;

}

.right-section a:hover {
	color: black;
	border-left: 5px solid #5900b2;

}

.left-section {
	margin: 20px;

}

.gray-color {
	color: gray;
}

form {
	flex: 1 0 auto; 
	width: 60%;
	padding: 10px 30px 30px 40px;
}



.two-btn {
	flex: 0 0 auto;
	padding: 10px 30px 30px 40px;
}


input[type=text] {
	height: 40px;
	width: 100%;
	border: 2px solid var(--bg-gray);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	outline-style: none;
}

input[type=range] {
	height: 40px;
	width: 100%;
	border-radius: 10px;
	background: transparent;
	border-color: gray;
	color: #a662ea;


}


.skill-add-btn {
	background: var(--bg-gray);
	padding: 0px 20px 5px 20px;
	font-size: 30px;
	border-radius: 30%;

}

.skill-add-text {
	margin-left: 10px;
}


#save {
	background: var(--btn-static);
	color: var(--bg-white);
	padding: 5px 20px 5px 20px;
	border-bottom-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

#save:hover {
	background: var(--btn-hover);
	color: var(--bg-white);
}



#cancel {
	background: var(--btn2-hover);
	color: var(--font-gray);
	padding: 5px 25px 5px 25px;
	border-bottom-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}


#cancel:hover {
	background: var(--btn2-pressed);
	color: black;
}

footer {
	text-align: center;
	background: var(--bg-gray);
}	


@media screen and (min-width: 768px) and (max-width: 991px){
    .right-section  {
		width: auto;
}
    	a.nav {
  		display: none;
  	}

  	section  {
  		font-size: small;
  	}


}


@media screen and (min-width: 600px) and (max-width: 767px){
	
	#logo {
		display: none;
	}

  	.nav {
  		display: none;
  	}

  	.right-section  {
		width: auto;
}
		
  	main #right {
  		display: flex;
  		flex-direction: column;
  		order: -1;
  		text-align: center;
  	}

  	main #left {
  		display: flex;
  		flex-direction: column;
  		text-align: center;
  		margin-top: 0;
  	}

  	main.container.flex-row {
  		display: flex;
  		flex-direction: column;
  	}

  	.right-section {
		border-left: 5px solid var(--bg-gray);
		height: 100%;
	}

	.right-section a {
		color: var(--font-gray);
		padding: 20px 30px 20px 10px;
		border-left: 5px solid transparent;

	}

	.right-section a:hover {
		color: black;
		border-right: 5px solid #5900b2;

	}
	form {
		margin: auto;
	}

